.header{
    background-color: #131921;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 100;
}

.header__logo{
    /* marginTopBottom=0,marginLeftRight=20px */
    margin:0 20px;   
    margin-top: 18px;
    width: 100px;
    /* maintains aspect ratio of amazon logo */
    object-fit: contain;
}

.header__nav{
    display: flex;
    justify-content: space-evenly;
}

.header__option{
    display: flex;
    flex-direction: column;
    margin:0 10px;
}

.header__optionLineOne{
    font-size: 10px;
}

.header__optionLineTwo{
    font-size: 13px;
    font-weight: 800;
}

.header__optionBasket{
    display: flex;
    align-items: center;
}

.header__BasketCount{
    margin-left: 10px;
    margin-right: 10px;
}
.header__link{
    color: cornsilk;
    text-decoration: none;
}

.header__search{
    display: flex;
    flex: 1;
    
}

.header__searchInput{
    height: 12px;
    padding: 10px;
    border:none;
    width: 100%;
}
.header__searchIcon{
    background-color: #febd69;
    padding: 5px;
    height: 22px !important;
}